:root {
  --branding-color: #6c63ff;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", serif;
  --secondary-color: #f1f1f1;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
}

h1,
h2,
h5 {
  font-family: var(--heading-font-family);
  text-align: center;
  margin: 0 auto;
}

h1 {
  font-size: 80px;
  font-weight: bold;
  line-height: 1.5;
  color: black;
}
h2 {
  font-size: 48px;
  font-weight: bold;
}

h3 {
  font-size: 25px;
  color: grey;
  opacity: 0.9;
}

h4 {
  font-size: 55px;
  font-weight: bold;
  text-align: center;
  color: black;
}
h5 {
  font-size: 35px;
  font-weight: bold;
  color: black;
  padding: 12px;
}

p {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 20px;

  padding: 30px;
  border-radius: 4px;

  text-align: center;
  margin: 5px;
}

.content-container {
  padding: 160px 20px;
}
.content {
  margin: 20px;
}

.content h1 {
  font-size: 50px;
  line-height: 80px;
}
.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.content h3 {
  font-size: 24px;
  font-family: var(--default-font-family);
  color: black;
  font-weight: bold;
}
.content p {
  font-size: 14px;
  font-weight: bold;
  opacity: 0.8;
  padding-top: 15px;
}

.woman-link {
  text-decoration: none;
}

.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-size: 14px;
  font-weight: bold;
  margin: 0 auto;
  color: #141010;
  line-height: 30px;
}
.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: 300px;
  line-height: 1.4;
  font-size: 24px;
  font-weight: bold;
}

.btn-branding {
  background-color: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;

  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.project-descriptions {
  padding: 120px 60px;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background-color: var(--branding-color);
  color: white;
  font-weight: bold;
  box-shadow: var(--box-shadow);
}

.image-fluid {
  max-width: 100%;
  height: auto;
}

.about-image {
  margin-bottom: 30px;
  max-width: 100%;
  height: auto;
  margin: 20px;
  padding: 10px;
}
.run-pic {
  max-width: 98%;
  height: 90%;
  margin-right: 20px;
}

.about-link {
  background-color: var(--secondary-color);
  color: var(--branding-color);
  border: 2px solid var(--branding-color);
  font-weight: bold;
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}
.email-link {
  color: var(--branding-color);
}
.email-link:hover {
  text-decoration: underline;
}
@media (max-width: 800px) {
  h1 {
    font-size: 30px;

    text-align: center;
  }

  h2 {
    font-size: 44px;
    text-align: center;
  }

  .hero {
    padding: 80px 20px;
  }
  .project-descriptions {
    padding: 0;
    text-align: center;
  }

  .content-container {
    text-align: center;
    padding: 0;
  }
  .content h1 {
    font-size: 30px;
    line-height: none;
    padding: 0;
    margin: 50px;
    text-align: center;
  }

  .woman-link {
    display: block;
    margin: 0 auto;
    padding: 15px;
  }
}
