:root {
  --branding-color: #6c63ff;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", serif;

  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
}

h1,
h2 {
  font-family: var(--heading-font-family);
  text-align: center;
  margin: 0 auto;
}

h1 {
  font-size: 80px;
  font-weight: bold;
  line-height: 1.5;
  color: black;
}
h2 {
  font-size: 48px;
  font-weight: bold;
}

h3 {
  font-size: 25px;
  color: grey;
  opacity: 0.9;
}

h4 {
  font-size: 55px;
  font-weight: bold;
  text-align: center;
  color: black;
}
h5 {
  font-size: 48px;
  font-weight: bold;
}

p {
  font-family: var(--default-font-family);
  font-weight: 600;
  font-size: 15px;
  line-height: 28px;
  padding: 20px;
  border-radius: 4px;
  margin: 5px;
  text-align: left;
}

.content-container {
  padding: 60px 20px;
}
.content {
  margin: 20px;
}

.content h1 {
  font-size: 50px;
  line-height: 80px;
}
.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.content h3 {
  font-size: 24px;
  font-family: var(--default-font-family);
  color: black;
  font-weight: bold;
}
.content p {
  font-size: 14px;
  font-weight: bold;
  opacity: 0.8;
  padding-top: 15px;
}

.woman-link {
  text-decoration: none;
}

.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 60px 20px;
}

.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: 300px;
  line-height: 1.4;
  font-size: 44px;
  font-weight: bold;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;

  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.project-descriptions {
  padding: 120px 60px;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;

  text-decoration: none;
  text-transform: capitalize;
}

.image-fluid {
  max-width: 100%;
  height: auto;
}

.about-image {
  margin-bottom: 30px;
  max-width: 100%;
  height: auto;
  margin: 20px;
  padding: 10px;
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}
.email-link {
  color: var(--branding-color);
}
.email-link:hover {
  text-decoration: underline;
}

.logo {
  max-height: 40px;
}

nav {
  padding: 20px 0;
}

nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
  font-weight: 500;
}

nav a {
  text-decoration: none;
  color: #141010;
}

nav a:hover,
nav li.active a {
  color: var(--branding-color);
  transition: all 100ms ease-in-out;
}

nav li.active a {
}

footer .contact-box {
  background-color: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
  padding: 5px;
}

footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background-color: var(--secondary-color);
  padding: 10px 14px;
  border-radius: 50%;

  font-size: 20px;
}
footer .social-links a:hover {
  color: white;
  background-color: var(--branding-color);
  transition: all 100ms ease-in-out;
}

footer .my-email-link {
  text-decoration: none;
  color: black;
  font-size: 16px;
  text-align: center;
  font-weight: 500;
}
footer .my-email-link:hover {
  color: var(--branding-color);
}

@media (max-width: 800px) {
  content h1 {
    font-size: 20px;
    margin: 0;
    line-height: none;
    text-align: center;
  }

  h1 {
    font-size: 44px;
    line-height: 1.5;
  }
  h4 {
    font-size: 40px;

    text-align: center;
  }

  h2 {
    font-size: 44px;
    text-align: center;
  }
  h5 {
    font-size: 18px;
  }

  .project-descriptions {
    padding: 0;
    text-align: center;
  }

  .content-container {
    text-align: center;
    padding: 0;
  }
  .content {
    text-align: center;
    padding: 0;
  }

  .woman-link {
    display: block;
    margin: 0 auto;
    padding: 15px;
  }
  nav a {
    font-size: 14px;
  }

  footer .contact-box {
    padding: 30px;
    margin-top: 20px;
  }
  .btn-branding-outline {
    display: block;
  }
}
