:root {
  --branding-color: #6c63ff;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", serif;
  --secondary-color: #f1f1f1;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  color: black;
  font-weight: bold;
}

h1 {
  font-size: 96px;
  font-weight: bold;
  line-height: 1.5;
}

h2 {
  font-size: 64px;
}
p {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-size: 30px;
  font-weight: bold;
  margin: 0 auto;
  color: #141010;
}
.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: 300px;
  line-height: 1.4;
  font-size: 24px;
  font-weight: bold;
}

.btn-branding {
  background-color: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;

  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.project-descriptions {
  padding: 120px 60px;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background-color: var(--branding-color);
  color: white;
  font-weight: bold;
  box-shadow: var(--box-shadow);
}

.about-link {
  background-color: var(--secondary-color);
  color: var(--branding-color);
  border: 2px solid var(--branding-color);
  font-weight: bold;
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 2;
  }

  h2 {
    font-size: 44px;
  }

  .hero {
    padding: 80px 20px;
  }
  .project-descriptions {
    padding: 0;
    text-align: center;
  }
}
